.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }
  #components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .ant-card-head {
    background-color: #f67023 !important;
    border-radius: 8px !important;
    height: 10px;
  }

  .ant-card-head-title  {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: -4px;
  }



  .ant-layout-header {
    height: 65px;
  }

  .webTitle{
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 900;
    margin-left: 1em;
    margin-top: 8px;
  }

  .webTitle span{
    color: rgb(255, 255, 255);
    margin-left: -6px;
  }


  .ant-card-bordered {
    border: 2px solid #f67023 !important;
  }


  .ant-card-body {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase
  }

  .imageFlag{
    border: 1px solid rgb(138, 138, 138);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  